@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One BSUIR Way<br />
    Dzerzhinskogo, 95, 801a<br />
    <abbr title="Phone">P:</abbr>
    +375291258419
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:kseniya.borokhovskaya@gmail.com">kseniya.borokhovskaya@gmail.com</a><br />
</address>