@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>BSUIR Entrants</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome to BSUIR</h2>
        <p>
            BSUIR Entrants app will help you to manage data about entrants.
        </p>
    </div>
</div>