@{
    ViewBag.Title = "Tree";
}
<html>
    <body>
        <script>
         $(function () {
            $('#treeView').jstree({
                "plugins": ["search", "wholerow"],
                'core': {
                    'themes': { "icons": false },
                    'data': {
                        'url': function (node) {
                            return node.id === '#' ? "/UniversityTree/GetRoot" : "/UniversityTree/GetChildren/" + node.id;
                        },
                        'data': function (node) {
                            return { 'id': node.id };
                        }
                    }
                }
            });

            $('#treeView').on('changed.jstree', function (e, data) {
                console.log("=> selected node: " + data.node.id);
            });
         });
        </script>

        <div id="treeView"></div>
    </body>
</html>


